<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

<div class="container">
    <div class="row">
        <% if (locals.docs) %>
        <% docs.forEach((testInfo) => { %>
            <div class="col-lg-12">
                <div class="col-lg-6 col-sm-12 pt-lg-5 px-lg-3 mt-5">
                      <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">GTID: <%= testInfo.gtid %></h5>
                      <p class="card-text">
                          Test Date: <%= testInfo.testDate %>
                      </p>
                      <p class="card-text">
                        Test Result: <%= testInfo.testResult ? "Positive" : "Negative"%>
                     </p>
                     <p class="card-text">
                        Approved by HR: <%= testInfo.approvedByHR ? "Yes" : "No"%>
                     </p>
                     <a href = "/viewDoc?id=<%=testInfo._id%>">
                        <button type="button" class="btn btn-primary">Review document</button>
                    </a>
                     <div class = "btn-group-justified btn-group-sm btn-group-horizontal">
                    <a href = "/approveDoc?id=<%=testInfo._id%>">
                        <button type="button" class="btn btn-success">Approve document</button>
                    </a>
                    <a href = "/rejectDoc?id=<%=testInfo._id%>">
                        <button type="button" class="btn btn-danger">Reject document</button>
                    </a>
                    </div>
                    </div>
                  </div>
                </div>
            </div>    
        <% }) %>
    </div>
</div>

<%- include('../partials/footer.ejs') -%>